
<div class="widget">
  <h3 class="widget-title">Archives</h3>
  <%- list_archives({format: "YYYY/MM"}) %>
</div>
<div class="widget">
  <h3 class="widget-title">Categories</h3>
  <%- list_categories({class: "archive"}) %>
</div>
<div class="widget">
  <h3 class="widget-title">Tags</h3>
  <%- list_tags({class: "archive"}) %>
</div>
