<div class="cookie-consent">
  <div class="cookie-text">当サイトはCookieを使用しております。Cookieの使用に関する詳細は「<a href="/privacy/">プライバシーポリシー</a>」をご覧ください。
    Cookieの利用に同意頂ける場合は、「同意する」ボタンを押してください。</div>
  <div class="cookie-buttons">
    <div class="cookie-reject">すべて拒否</div>
    <div class="cookie-agree">同意する</div>
  </div>
</div>
