a
  color: color-link
  font-weight: bold
  text-decoration: none

  &:hover
    text-decoration: underline

strong, b
  font-weight: bold

em
  font-style: italic

code
  background-color: rgba(27,31,35,.05)
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;

del
  text-decoration: line-through

sub, sup
  font-size: 75%
  line-height: 0
  position: relative

:root sub, :root sup
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.2em

acronym, abbr
  border-bottom: 1px dotted
  font-variant: normal

abbr
  cursor: help

h1, h2, h3, h4, h5, h6
  color: color-title
  font-weight: bold
  a
    color: color-title
    text-decoration: none
    &:hover
      color: color-title

pre, code
  font-family: font-mono
  font-size 1em

.left, .alignleft
  float: left

.right, .alignright
  float: right

.fa
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.fa-lg
  font-size: 1.333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;

.fa-line:before
  content: "\f075"

.fa-bookmark:before
  content: "\f02e";

.fa-twitter:before
  content: "\f099";

.fa-facebook:before
  content: "\f09a";

.sns-share--header
  clear: both;
  color: #6b655d;
  border-bottom: solid 1px #cecdd3;
  margin-top: 40px;
  margin-bottom: -10px;
  font-size: 1.3em;
  font-family: 'Wendy One', cursive;
  text-transform: uppercase;
  letter-spacing: .1em;
  &:before
    font-family: font-icon;
    content: "\f1e0";

.sns-share--area
  margin: auto;
  padding: 20px 0;

.sns-share--area li
  display: inline-block;
  list-style-type: none;

.sns-share--area a:hover
  color: #fc0;

.sns-share--link
  display: block;
  color: #fff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 47px;
  text-align: center;
  margin-right: 15px;

.sns-share--line
//  background-color: #06c755;
  background-color: #00b900;

.sns-share--bookmark
  background-color: #00A4DE;

.sns-share--x
  background-color: black;

.sns-share--facebook
//  background-color: #1877f2;
  background-color: #375A94;
